h2 {
  padding-top: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  padding: 10px;
}

.App-header {
  background-color: #345f7a;
  color: white;
  display: flex;
}

.App-header h1 {
  padding-top: 30px;
}

.App-title {
  font-size: 1.5em;
  margin-top: 40px;
  margin-left: 40px;
}

.App-intro {
  font-size: large;
  background-color: #ad912e;
  /* border-color:  #ad912e; */
  /* margin: 0px; */
  /* padding: 20px; */
}

.App-footer {
  background-color: #345f7a;
  color: white;
}

.App-footer img {
  height: 100px;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.App-body {
  background-color: #6c843e;
  color: white;
  /* color: #ad912e; */
  height:850px;
}

.App-body img {
  padding: 50px;
}

.bold {
  font-weight: bold;
}