.App-header {
  background-color: #345f7a;
  color: white;
  display: flex;
}

.App-header h1 {
  padding-top: 30px;
}

.App-logo {
  height: 6em;
  padding: .6em;
}

.App-title {
  font-size: 1.5em;
  margin-top: 1.65em;
  margin-left: 1.65em;
}